<div #HeaderEl class="header position-fixed">
  <div class="row">

    <div class="col-auto">
      <button class="btn btn-44 back-btn bg-theme-light rounded-circle" (click)="backnav()">
        <i class="bi bi-chevron-left text-color-theme"></i>
      </button>
    </div>
    <div class="col align-self-center text-center">
      <h5>Destinations</h5>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" target="_self" class="btn bg-theme-light rounded-circle btn-44">
        <i class="bi bi-bell"></i>
      </a>
    </div>
  </div>
</div>
<div class="main-container container h-100 my-5" #mainContainer>
  <div class="row pt-5 h-100">
    <div class="col-12">
      <div class="mx-0 mb-4 p-2 rounded-30 input-group bg-white">
        <span class="btn bg-none rounded-30" type="button"><i class="bi bi-geo-alt-fill bg-opac"></i></span>
        <input type="text" class="form-control trasparent-input size-12 bg-none" placeholder="Where are you going">
        <button class="btn bg-theme rounded-circle" type="button"><i class="bi bi-search text-white"></i></button>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news.jpg');">
                    <img src="assets/img/news.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">Do share and Earn a lot</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="blog-details.html" class="card mb-5">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="h-190 shadow-sm rounded-10 coverimg mb-3"
                    style="background-image: url('assets/img/news1.jpg');">
                    <img src="assets/img/news1.jpg" alt="" class="d-none">
                  </div>
                </div>
                <div class="col align-self-center">
                  <p class="text-color-theme mb-1">News latest picks</p>
                  <p class="text-muted small">Get $10 instant as reward while your friend or invited
                    member join Capture Trips</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
