<div class="main-container container">
  <div class="card-body">
    <div class="col-12">
      <div class="row hg-details extend-egde mb-0 mt-0 mr-0 ml-0 bg-primary text-white px-4"
        style="background-image: url('assets/img/news1.jpg');">
      </div>

      <div class="card extend-egde pt-2 pb-5 bg-white border-0">
        <div class="card-body">

          <!-- connection -->
          <div class="row mb-3">
            <div class="col">
              <h6 class="small">The Best of Pattaya and Bankok</h6>
            </div>
            <div class="col text-end text-right">
              <h6 class="title"><span class="text-color-theme"><b>$12,356</b></span><br><small
                  class="fw-normal text-muted">Person: <strikethrough>
                    $18,500
                  </strikethrough></small>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="col-auto flex px-0 size-12">
                <i class="bi bi-geo-alt-fill size-10 mr-1"></i>
                <span class="text-right">
                  <span class="text-muted text-small mt-1 mx-1">Thailand Bang Cock</span>
                </span>
              </span>
            </div>
            <div class="col-auto text-end text-right">
              <span class="col-auto flex px-0 size-12">
                <i class="bi bi-star-fill size-10 mx-1" color="#fff"></i>
                <span class="text-right">
                  <span>4.2</span>
                </span>
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <ul class="list-group list-group-flush bg-none">
              <li class="list-group-item">
                <div class="row extend-egde-b">
                  <div class="col-auto">
                    <div class="avatar avatar-40 shadow-sm rounded-circle coverimg"
                      style="background-image: url('assets/img/news2.jpg');">
                      <img src="assets/img/news2.jpg" alt="" class="d-none">
                    </div>
                  </div>
                  <div class="col align-self-center ps-0">
                    <p class="small size-12"><b>Jack Smith</b></p>
                    <p class="size-10">13th March 2023</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card shadow-sm mb-4">
                <ul class="list-group list-group-flush bg-none">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-auto pr-0 align-self-center text-end">
                        <div class="">
                          <i class="bi bi-geo-alt-fill size-12 mx-1"></i>
                        </div>
                      </div>
                      <div class="col ps-0">
                        <h6 class="mb-1">START AT</h6>
                        <p class="text-muted small">Delhi</p>
                      </div>
                      <div class="col ps-0">
                        <i class="bi bi-arrow-right mt-2 mx-1" style="font-size: 1.5rem; font-weight: 700;"></i>
                      </div>
                      <div class="col ps-0">
                        <h6 class="mb-1">END AT</h6>
                        <p class="text-muted small">Goa</p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-auto pr-0 align-self-center text-end">
                        <div class="">
                          <i class="bi bi-briefcase-fill size-12 mx-1"></i>
                        </div>
                      </div>
                      <div class="col ps-0">
                        <h6 class="mb-1">DURATION</h6>
                        <p class="text-muted small">5 Nights 6 Days</p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-auto pr-0 align-self-center text-end">
                        <div class="">
                          <i class="bi bi-person-fill size-12 mx-1"></i>
                        </div>
                      </div>
                      <div class="col ps-0">
                        <h6 class="mb-1">PHYSICAL RATING</h6>
                        <p class="text-muted small">6 days</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
