<div #HeaderEl class="header position-fixed">
  <div class="row">

    <div class="col-auto">
      <button class="btn btn-44 back-btn bg-theme-light rounded-circle" (click)="backnav()">
        <i class="bi bi-chevron-left text-color-theme"></i>
      </button>
    </div>
    <div class="col align-self-center text-center">
      <h5>Bookings</h5>
    </div>
    <div class="col-auto">
      <a routerLinkActive="active" target="_self" class="btn bg-theme-light rounded-circle btn-44">
        <i class="bi bi-bell"></i>
      </a>
    </div>
  </div>
</div>
<div class="main-container container my-5" #mainContainer>
  <div class="row pt-5 mb-3">
    <div class="col">
      <h6 class="title">March 2023</h6>
    </div>
    <div class="col-auto align-self-center">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">804.91 $</p>
              <p class="text-muted size-12">Dubai</p>
              <p class="small text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h6 class="title">February 2023</h6>
    </div>
    <div class="col-auto align-self-center">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">804.91 $</p>
              <p class="text-muted size-12">Dubai</p>
              <p class="small text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-4">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col align-self-center ps-0">
              <p class="mb-0">1424.91 $</p>
              <p class="text-muted size-12">Paris</p>
              <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, tempora.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- user information -->
