<div class="pb-5 flex mb-4 main-scroll shadow-sm bg-primary text-white">
  <div class="overlay"></div>
  <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news1.jpg');">
    <img src="assets/img/news1.jpg" alt="" class="d-none">
  </div>
  <div class="container card-body">
    <div class="col-12 pt-5">
      <div class="row mt-5 mb-3 text-white px-4">
        <div class="col px-0 align-self-center fw-medium">
          <h6>Capture Trips</h6>
        </div>
        <span class="col-auto flex px-0 size-12">
          <i class="bi bi-geo-alt-fill size-10 mx-1"></i>
          <span class="text-right">
            <span class="text-muted text-small mt-1">Delhi</span>
          </span>
        </span>
      </div>

      <div class="mx-0 mt-2 mb-4 p-2 extend-egde rounded-30 input-group bg-white">
        <span class="btn bg-none rounded-30" type="button"><i class="bi bi-geo-alt-fill bg-opac"></i></span>
        <input type="text" class="form-control trasparent-input size-12 bg-none" placeholder="Where are you going">
        <button routerLink="/details" style="background-color: #d21717;" class="btn bg-theme rounded-circle"
          type="button"><i class="bi bi-search text-white"></i></button>
      </div>

      <div class="card extend-egde border-0">
        <div class="card-body">

          <!-- connection -->
          <div class="row mb-3">
            <div class="col">
              <h6 class="title">Top Destinations</h6>
            </div>
            <div class="col-auto">
            </div>
          </div>
          <div class="row">
            <div class="col-auto mb-4" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-circle thick-border">
                <img src="assets/img/user1.jpg" alt="">
              </div>
              <p class="text-center size-10 my-1">Dubai</p>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-circle thick-border">
                <img src="assets/img/user2.jpg" alt="">
              </div>
              <p class="text-center size-10 my-1">Kao</p>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-circle thick-border">
                <img src="assets/img/user3.jpg" alt="">
              </div>
              <p class="text-center size-10 my-1">Krabi</p>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-circle thick-border">
                <img src="assets/img/user3.jpg" alt="">
              </div>
              <p class="text-center size-10 my-1">Paris</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <div class="swiper-container">
                <div class="cardswiper swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="ccard">
                      <div class="card-body">
                        <div class="row">
                          <div class="card-body text-center">
                            <h4>Explore the World</h4>
                            <p>Special Offer</p>
                            <span class="size-10">Just a Place holder</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>

          <!-- connection -->
          <div class="row mt-5 mb-3">
            <div class="col">
              <h6 class="title">Popular Providers</h6>
            </div>
            <div class="col-auto">
            </div>
          </div>
          <div class="row">
            <div class="col-auto mb-4" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user1.jpg" alt="">
              </div>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user2.jpg" alt="">
              </div>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user3.jpg" alt="">
              </div>
            </div>
            <div class="col-auto mb-4 ps-0" (click)="navigateToDetails()">
              <div class="avatar avatar-70 rounded-10">
                <img src="assets/img/user3.jpg" alt="">
              </div>
            </div>
          </div>

          <!-- connection -->
          <div class="row mt-2 mb-3">
            <div class="col">
              <h6 class="title">Departing Soon</h6>
            </div>
            <div class="col-auto">
              <a class="text-small small size-12">SEE ALL<i class="bi bi-arrow-right mx-2 size-10"></i></a>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <div class="swiper-container">
                <div class="cardswiper-2 swiper-wrapper">
                  <div class="swiper-slide" (click)="navigateToDetails()">
                    <div class="card mb-4 overflow-hidden shadow-sm bg-primary text-white">
                      <div class="overlay"></div>
                      <div class="coverimg h-100 w-100 position-absolute opacity-5"
                        style="background-image: url('assets/img/news1.jpg');">
                        <img src="assets/img/news1.jpg" alt="" class="d-none">
                      </div>
                      <div class="card-body">
                        <div class="row mb-5">
                          <div class="col align-self-center">
                            <span class="tag">We Love</span>
                          </div>
                          <div class="col-auto">
                          </div>
                        </div>
                        <br>
                        <a class="h4 text-normal d-block text-white mb-2">Best Discovery
                          ever in Nigeria</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                          conv allis.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>

          <!-- Blogs -->
          <div class="row mt-2 mb-3">
            <div class="col">
              <h6 class="title">News and Upcoming</h6>
            </div>
            <div class="col-auto align-self-center">
              <a class="small size-12">Read more</a>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4">
              <a class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-60 shadow-sm rounded-10 coverimg"
                        style="background-image: url('assets/img/news.jpg');">
                        <img src="assets/img/news.jpg" alt="" class="d-none">
                      </div>
                    </div>
                    <div class="col align-self-center ps-0">
                      <p class="text-color-theme mb-1">Do share and Earn a lot</p>
                      <p class="text-muted size-12">Get $10 instant as reward while your friend or invited member
                        join
                        Capture Trips</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <a routerLink="/blog-details" class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-60 shadow-sm rounded-10 coverimg"
                        style="background-image: url('assets/img/news1.jpg');">
                        <img src="assets/img/news1.jpg" alt="" class="d-none">
                      </div>
                    </div>
                    <div class="col align-self-center ps-0">
                      <p class="text-color-theme mb-1">News latest picks</p>
                      <p class="text-muted size-12">Get $10 instant as reward while your friend or invited member
                        join
                        Capture Trips</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <a class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-60 shadow-sm rounded-10 coverimg"
                        style="background-image: url('assets/img/news2.jpg');">
                        <img src="assets/img/news2.jpg" alt="" class="d-none">
                      </div>
                    </div>
                    <div class="col align-self-center ps-0">
                      <p class="text-color-theme mb-1">Do share and Help us</p>
                      <p class="text-muted size-12">Get $10 instant as reward while your friend or invited member
                        join
                        Capture Trips</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
